<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Tailwind CSS -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <!-- Title -->
    <title>GitHub Profile Finder</title>
</head>
<body class="container mx-auto px-2 bg-gray-900 text-gray-200 font-sans
            flex flex-col">
    <!-- Buscador -->
    <section class="border border-gray-500 bg-gray-800 rounded-md p-4 mt-10 mb-4 mx-auto w-3/4
                    flex justify-evenly items-center flex-col
                    lg:flex-row">
        <!-- <div class="mx-2 my-auto">
            <label class="font-medium mr-2">User:</label>
            {% from "_macro.html" import render_field %}
                <input type="text" placeholder="Username..." name="username"
                        class="mx-auto px-4 py-0.5 bg-gray-900 border border-gray-500 rounded" />
        </div>
        <button class="mx-2 my-2 px-4 py-1 bg-green-600 hover:bg-green-500 rounded-md font-medium
                        lg:my-0">Search user</button> -->
        {% from "_macro.html" import render_field %}
        <form method="POST">
            {{ render_field(form.username) }}
            <button type="submit">Search profile</button>
        </form>
    </section>
    <!-- Cuerpo principal -->
    <main class="my-6">
        {% block user %} 
        {% endblock %} 
        {% block error %} 
        {% endblock %} 
    </main>
    <footer class="text-center text-white text-xs">
        <p class="flex justify-center text-center p-4">
            Page made with many 
            <img src="{{ url_for('static', filename='img/Mate_FEC_16x16.png') }}" alt="mate">
        </p>
    </footer>
</body>
</html>