{% block card %}
    <div class="card m-4 px-6 pt-2 pb-4 flex flex-col items-center border-2 border-gray-800 rounded-xl">
        <h3 class='text-xl font-semibold py-2'>Title Project</h3>
        <figure>
            <img src="https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
            alt="Imagen"
            class="h-48" />
        </figure>
        <p class="text-center text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Delectus impedit repellat amet explicabo nesciunt laborum
            tempore animi voluptatem ad atque quod perspiciatis.
        </p>
        <a href="http://www.google.com.ar" target="_blank" rel="noopener noreferrer"
            class="text-white font-semibold my-2 py-2 px-20 rounded-md bg-gray-800 border border-gray-700
                hover:bg-gray-600">
            View Project
        </a>
    </div>
{% endblock %}
