{% extends 'base/base.html' %}

{% block github %}
    <section class="mx-4 md:mx-10 lg:mx-16 mt-6 mb-16 px-4 py-6 flex flex-col border-2 border-gray-800 rounded-md">
        <h1 class="w-44 lg:w-56 text-center text-2xl self-center font-semibold border-b-2 border-gray-700 
            lg:text-3xl lg:font-bold">Perfil GitHub</h1>
        <div class="pefil-container flex flex-col justify-evenly md:flex-row md:py-6">
            <img src="{{ response.avatar_url }}" alt="Photo" class="rounded-full w-52 mt-6 mb-2 self-center lg:w-64">
            <div class="perfil-wrapper md:w-6/12 lg:text-lg">
                <p><label class='font-bold'>User:</label> {{ response.login }}</p>
                <p><label class='font-bold'>Nombre:</label> {{ response.name }}</p>
                <p><label class='font-bold'>Ubicación:</label> {{ response.location }}</p>
                <p><label class='font-bold'>Bio:</label> {{ response.bio }}</p>
                <p><label class='font-bold'>Seguidores:</label> {{ response.followers }}</p>
                <p><label class='font-bold'>Siguiendo:</label> {{ response.following }}</p>
                <p><label class='font-bold'>Repositorios públicos:</label> {{ response.public_repos }}</p>
                <p>
                    <label class='font-bold'>Twitter:</label>
                    <a href="https://twitter.com/{{ response.twitter_username }}" target="_blank" rel="noopener noreferrer"
                        class="hover:text-blue-500">
                    @{{ response.twitter_username }}
                    </a>
                </p>
                <p>
                    <label class='font-bold'>Web:</label>
                    <a href="{{ response.blog }}" target="_blank" rel="noopener noreferrer"
                        class="hover:text-blue-500">
                    {{ response.blog }}
                    </a>
                </p>
            </div>
        </div>
    </section>
{% endblock %}