{% extends 'base/base.html' %}

{% block home %}
    <section class="flex flex-col items-center my-6">
        <h1 class="text-2xl font-semibold">Hola! 🧉</h1>
        <p class="my-4 mx-4 text-md text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Optio laborum harum tenetur architecto? Reiciendis similique sit incidunt fugit. 
            Provident tempora non quisquam placeat cum qui beatae enim labore temporibus reprehenderit.
        </p>
        <img src="https://i.kym-cdn.com/entries/icons/original/000/021/807/ig9OoyenpxqdCQyABmOQBZDI0duHk2QZZmWg2Hxd4ro.jpg" alt="Photo"
            class="w-11/12">
        
    </section>    

{% endblock %}